.logo {
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-left: 15px;
}
.logo__web {
  color: $logo-color ;
  font-family: $logo-font;
  font-weight: 700;
}
.logo__studio {
  color: #000000;
  font-family: $logo-font;
  font-weight: 700;
}

.logo__studio--footer{
  color: $white-color;
}
.logo__link--footer{
    display: inline-block;
  margin-bottom: 30px;

}