@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
body {
  background: #ffffff;
  font-family: $main-font;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 400;
  color: $description-color;
  line-height: 1.19;
  cursor: auto;
  font-style: normal;
min-width: 320px;
//   @media screen and (min-width: 320px) {
//   overflow-x: hidden;
// }
}
img {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
a {
  text-decoration: none;
}


